.column-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 16px 24px; */
    height: 100%;
    overflow: scroll;
}
.column{
    width: 100%;
    padding: 8px;
    background: #dfe3e6;
    border-radius: 5px;
    margin-left: 12px;
    overflow: auto;
    min-width: 420px;
}
.no-l-mg{
    margin-left: 0px;
}
.column-head{
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 10px;
    transition: background-color 300ms 0s ease-in-out;
    background-color: #008297;
    justify-content: space-between;
    align-items: center;
}
.column-input{
    padding: 8px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.col-ip-dd{
    margin-top: 8px;
}
.col-ip-dd #addedBy, .col-ip-dd #assignedTo, .col-ip-dd #expiryDate{
    margin-right: 8px;
    max-width: 120px;
}
.column-input .button{
    max-width: 70px;
    align-self: flex-end;
    padding: 7px 0px;
}
.column-input .dd-wrap select, .column-input .auto-complete input{
    padding: 7px;
    padding-right: 12px;
}
.user-content{
    padding-right: 30px !important;
    resize: none;
    line-height: unset;
}
.content-wrp{
    position: relative;
}
.content-emoji{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.cancel-edit{
    background: white !important;
    color: #4b70ac;
    border: 2px solid #4b70ac;
    padding: 5px !important;
    margin-left: 10px;
}
.cancel-edit:hover{
    background: aliceblue !important;
}
.user-content{
    max-height: none !important;
}
.retro-style{
    margin-top: 10px;
    justify-content: flex-end;
}