body{
    font: 14px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: linear-gradient(135deg, rgba(213, 124, 230, 0.4) 0, rgba(180, 71, 201, 0) 100%), linear-gradient(135deg, #006080 0, #009bce 100%);;
    background-image: linear-gradient(135deg, rgba(213, 124, 230, 0.4) 0, rgba(180, 71, 201, 0) 100%), linear-gradient(135deg, #006080 0, #009bce 100%);
    -webkit-font-smoothing: antialiased;
    color: #212529;
    word-wrap: break-word;
    letter-spacing: 0.3px;
    margin: 0;
    overflow: hidden;
    line-height: 1.5;
    position: relative;
}
html, body, #root, .max-ht{
    height: 100%;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border-radius: 3px;
    color: #ffffff;
    background-color: #4b70ac;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 18px;
    outline: 0;
    cursor: pointer;
}
*,*:after, *:before {
    box-sizing: border-box;
}
@media only screen and (min-width: 1600px) {
    #root .board-content{
        max-width: 1600px;
        margin: 0 auto;
    }
    header > div {
        width: 1600px;
        margin: 0 auto;
    }
}
.pm-col{
    color: #FF2E63 !important;
}
.sc-col{
    color: #4b70ac !important;
}
.tr-col{
    color: #212529 !important;
}
.warning-col{
    background-color: #fb323c;
}
.pm-bg{
    background-color: #FF2E63 !important;
}
.sc-bg{
    background-color: #28a745 !important;
}
.tr-bg{
    background-color: #4b70ac !important;
}
.link-col{
    color: #4b70ac;
}
.h-font{
    font-size: 24px;
    font-weight: 500;
}
.h-1{
    font-size: 18px;
}
.h-2{
    font-size: 14px;
}
.txt-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 150px;
}
.font-b{
    font-weight: 500;
}
.d-flex{
    display: flex;
}
.fit-space{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.d-flex{
    display: flex;
}
.ht-inherit{
    height: inherit;
}
.align-ct{
    align-items: center
}
img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.error, .loader{
    width: 60%;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    background: white;
    text-align: center;
}
.mg-r-8{
    margin-right: 8px;
}

a:-webkit-any-link, a:any-link{
    color: unset;
}