doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title x-board
    link(rel='stylesheet', href='/stylesheets/common.css')

  body
    .max-ht
      #root
        .error
          h1 Something went wrong. Sorry...
          h3 Please try after some time.
