.auto-complete {
    position: relative;
    /* display: block;
    position: relative;
    margin: 0 auto;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #d1d5da;
    border-radius: 3px; */
}
.input-pd{
    padding: .25rem 0.5rem;
}
/* .auto-complete input{
    border: none;
    outline: none;
    border-radius: 0 !important;
    font-size: 14px;
    background-color: #ffffff;
    color: #212529;
    padding: 0;
} */
.auto-complete .input-wrp::after, .dropdown .dd-wrap::after{
    position: absolute;
    right: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    /* margin-left: .255em; */
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    content: "";
}
.auto-complete ul{
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    max-height: 250px;
    overflow: auto;
}

.auto-complete ul li{
    /* display: inline-block; */
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.auto-complete ul li:hover, .foucs-list{
    background-color: #e9ecef !important;
}
.hide-list{
    display: none;
}
.show-list{
    display: inline-block;
}
.auto-input-wrp{
    position: relative;
}
