.home-page{
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.recent-board{
    width: 25%;
    border-right: 1px solid #e1e4e8 !important;
    border-bottom: 1px solid #e1e4e8 !important;
    background-color: #ffffff;
    padding: 24px;
    overflow: auto;
}
.recent-board h4, .create-board h4{
    color: #FF2E63;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
}
.create-board{
    left: 25%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    overflow: auto;
}
.board-search{
    height: 36px !important;
    width: 100% !important;
    margin: 12px 0px !important;
}
.board-item{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-items: center;
}
.board-item a{
    text-decoration: none;
    color: #4b70ac;
    font-weight: 500;
    cursor: pointer;
    max-width: 250px;
}
.board-item a:hover{
    text-decoration: underline;
}
.create-board-box{
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 24px;
    width: 60%;
    height: fit-content;
    max-width: 450px;
    max-height: 450px;
    /* overflow-y: auto; */
}
.board-config .input, .board-config .dropdown, .board-config .toggle-button, .board-config .explore-tip{
    /* margin: 18px 0px; */
}
.explore-tip{
    background: #ffeef860;
    border: 1px solid #f9b3dd !important;
    padding: 10px 15px;
    margin-bottom: 18px !important;
}
.setting-link{
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.create-board-box::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
}
.create-board-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media only screen and (max-width: 1000px) {
    .home-page{
        display: inline-block;
        overflow: auto;
    }
    .create-board, .recent-board {
        display: block;
        width: 70%;
        margin: 20px auto;
        position: relative;
        left: unset;
        right: unset;
    }
    .create-board-box{
        width: 100%;
        max-width: 100%;
    }
    .timer, .facilitators{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .create-board, .recent-board {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .create-board, .recent-board {
        width: 90%;
    }
    .board, header {
        padding: 8px 12px !important;
    }
    .column{
        min-width: 90vw !important;
    }
}

#publicBoard{
    margin-bottom: 18px;
}

#publicBoard .error-label{
    display: none;
}
.member-count-i{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: auto;
}