.card {
    margin-top: 8px;
    font-size: 16px;
}
.f-500{
    font-weight: 500;
}
.pd-lr-5{
    padding: 0 5px;
}
.card-quote{
    /* font-weight: 500; */
    /* font-style: italic; */
}
.card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-info{
    font-size: 12px;
    font-style: italic;
    color: dimgray;
}
.card-icon{
    height: 15px;
    width: 15px;
}
.mg-l-10{
    margin-left: 10px;
}
.card-main{
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
}
.added-by{
    white-space: nowrap;
}
.card-expiry-dt{
    text-align: end;
    color: dimgray;
    /* font-style: italic; */
    font-size: 14px;
}
.card-extras{
    margin-bottom: 5px;
}
.card-edited{
    margin-top: 10px;
}
.share-it{
    position: relative;
}
.share-modal{
    position: absolute;
    bottom: 25px;
    right: 0px;
    z-index: 1002;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.share-modal .error-label {
    display: none;
}
.share-list{
    max-height: 140px;
    overflow: auto;
}
.share-input{
    height: 36px !important;
    width: 100% !important;
}
.share-list li{
    /* display: inline-block; */
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.share-list li:hover, .foucs-list{
    background-color: #e9ecef !important;
}
.share-title{
    color: #FF2E63;
    margin: .25rem .5rem;
}
.close-share{
    position: absolute;
    right: .25rem;
    top: -.25rem;
    color: #FF2E63;
    font-size: 18px;
    cursor: pointer;
}
.share-btn{
    font-size: 14px;
    margin: .25rem .5rem;
    margin-top: 1rem;
}