.card {
    margin-top: 8px;
    font-size: 16px;
}
.f-500{
    font-weight: 500;
}
.pd-lr-5{
    padding: 0 5px;
}
.card-quote{
    /* font-weight: 500; */
    /* font-style: italic; */
}
.card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-info{
    font-size: 12px;
    font-style: italic;
    color: dimgray;
}
.card-icon{
    height: 15px;
    width: 15px;
}
.mg-l-10{
    margin-left: 10px;
}
.card-main{
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
}
.added-by{
    white-space: nowrap;
}
.card-expiry-dt{
    text-align: end;
    color: dimgray;
    /* font-style: italic; */
    font-size: 14px;
}
.card-extras{
    margin-bottom: 5px;
}
.card-edited{
    margin-top: 10px;
}