.dd-wrap {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    line-height: 1;
}
.dd-wrap select{
    border: none;
    outline: none;
    border-radius: 0 !important;
    font-size: 14px;
    padding: 10px;
    padding-right: 15px;
    cursor: pointer;
    background-color: #ffffff;
    color: #212529;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dd-wrap select option{
    background-color: yellow;
    color: #212529;
    padding: 5px;
}
.dd-wrap::after{

}

